node_modules/

# don't commit session and cache data
sessions/*
cache-js/*

# but commit the empty folders
!sessions/.gitkeep
!cache-js/.gitkeep

app/node_modules/
app/package-lock.json
package-lock.json