body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#player-container {
    width: 80%;
    max-width: 1000px;
}

video {
    width: 100%;
    border-radius: 8px;
    background: #000;
}